@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0 auto;
    max-width: 1512px;
    background-color: #b5b5b5;
    font-family: 'Poppins';
    font-style: normal;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

input[type="button"] {
    border: none;
    outline: none;
    cursor: pointer;
}

input[type="button"] {
    background: #45484E;
    border-radius: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}

.intro {
    height: 1070px;
    color: #FFFFFF;
}

.header {
    display: flex;
    position: absolute;
    align-items: center;

    padding: 47px 0 64px 97px;

}

.header-item {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;

    padding-right: 29px;
}

.header-explore {
    margin-left: 562px;

    width: 259px;
    height: 105px;
}

.intro-inner {
    display: flex;
    height: 906px;
}

.intro-ls {
    width: 878px;
    height: 906px;

    background-color: #45484E;
}

.intro-heading {
    padding: 216px 0 39px 97px;

    font-weight: 600;
    font-size: 70px;
    line-height: 105px;
}

.intro-title {
    padding: 0 0 0 97px;
}

.intro-search {
    position: absolute;
    background: #FFFFFF;
    border-radius: 35px;
    padding: 37px 49px 51px 55px;

    margin: 593px 0 0 97px;
}

.is-heading {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #45484E;

    padding-bottom: 29px;
}

.ish-input-item {
    width: 276px;
    height: 92px;
    padding-left: 44px;

    background: #EBEBEB;
    border-radius: 35px;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #45484E;
    opacity: 0.45;
}

.ish-input-item:first-child {
    margin-right: 20px;
}

.is-search {
    width: 660px;
    height: 97px;
    margin-top: 49px;
}